

body{
	color: #00004f;
}

#name {
    text-align: center;
    font-size: 100px;
    font-family: sans-serif;
    padding: none;
    border: none;
}

/* Style the tab buttons */
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    margin-bottom: 60px;
    font-size: 17px;
    width: 33.333%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #000000;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    font-family: sans-serif;
}

/* Style each tab content individually */ 
#School {background-color:#CE708F;}
#Major {background-color:#CE8BA1;}
#Coursework {background-color:#C54872;}

.nav {
    position: relative;
}

nav li{
    display: inline;
    margin: 5px auto 5px auto;
    font-size: 12px;
    color: #f19a3e;
}

h1, h2, p, ul{
    font-family: "Tahoma", sans-serif;
}

h1{
    font-size: 36px;
}

h2{
    font-size: 20px;
}